In [2]:
str = 'hello'
str

'hello'

In [3]:
'This is also an example for a string'

'This is also an example for a string'

In [4]:
"String with double quotes"

'String with double quotes'

In [5]:
'I'm using single quotes, but will create an error'

SyntaxError: invalid syntax (<ipython-input-5-dead77b3e6ca>, line 1)

In [6]:
"I'm using single quotes, but will create an error"

"I'm using single quotes, but will create an error"

In [7]:
'Hello World'

'Hello World'

In [9]:
print('Hello World 1')
'Hello World 2'

Hello World 1

'Hello World 2'

In [12]:
print('Hello World 1')
print('Use \n to print a new line')
print('\n')
print('bye')

Hello World 1
Use
 to print a new line


bye

In [14]:
len('Hello world example')

19

In [17]:
len('HelloWorld')

10

In [20]:
s = 'Hello World'
print(s)
s

Hello World

'Hello World'

In [22]:
print(s[0])
print(s[3])
print(s[9])
print(s[11]) #index out of range example

H
l
l

IndexError: string index out of range

In [24]:
print(s[1:])
s

ello World

'Hello World'

In [28]:
s[:9]

'Hello Wor'

In [26]:
s[:]

'Hello World'

In [30]:
s[-5]

'W'

In [31]:
s[:-4]

'Hello W'

In [36]:
s[::3]

'HlWl'

In [37]:
s[::-1]

'dlroW olleH'

In [38]:
s[::-2]

'drWolH'

In [39]:
s[0] = 'x'  # means string is immutable

TypeError: 'str' object does not support item assignment

In [47]:
s = 'Hello world'
s + ' concatenate operation.'

'Hello world concatenate operation.'

In [48]:
s

'Hello world'

In [49]:
s = s + ' concatenate operation.'
s

'Hello world concatenate operation.'

In [50]:
letter = 'z'
letter * 3

'zzz'

In [52]:
s
s.upper()

'HELLO WORLD CONCATENATE OPERATION.'

In [53]:
s.lower()

'hello world concatenate operation.'

In [55]:
print(s.split())
s

['Hello', 'world', 'concatenate', 'operation.']

'Hello world concatenate operation.'

In [56]:
print(s.split('o'))
s

['Hell', ' w', 'rld c', 'ncatenate ', 'perati', 'n.']

'Hello world concatenate operation.'

In [57]:
'Insert another string with curly brackets:{}'.format({'The inserted string'})

"Insert another string with curly brackets:{'The inserted string'}"

In [60]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt1

"My name is John, I'm 36"

In [61]:
print(s)
s.count('o')

Hello world concatenate operation.

5

In [62]:
s.find('o') # prints first 'o'

4

In [65]:
s.center(60,' ')

'             Hello world concatenate operation.             '

In [67]:
'hello\thi\tbye'.expandtabs()

'hello   hi      bye'

In [68]:
s = 'hello'
s.isalnum()

True

In [69]:
s.isalpha()

True

In [70]:
s.islower()

True

In [71]:
s.isupper()

False

In [72]:
s.isspace()

False

In [73]:
s.istitle()

False

In [75]:
'Hello'.istitle()

True

In [76]:
s.endswith('o')

True

In [78]:
s.split('e')

['h', 'llo']

In [79]:
s.partition('e')

('h', 'e', 'llo')

In [81]:
s.partition('ll')

('he', 'll', 'o')

In [82]:
#LISTS

In [83]:
my_list = [1,2,3]
my_list

[1, 2, 3]

In [84]:
my_list = ['A string',666,-1.00,'f']
my_list

['A string', 666, -1.0, 'f']

In [85]:
len(my_list)

4

In [86]:
my_list = ['one','two','three',4,5]

In [87]:
my_list[0]

'one'

In [89]:
my_list[3:]

[4, 5]

In [90]:
my_list[:4]

['one', 'two', 'three', 4]

In [93]:
print(my_list + ['new'])
my_list

['one', 'two', 'three', 4, 5, 'new']

['one', 'two', 'three', 4, 5]

In [94]:
my_list = my_list + ['hello']
my_list

['one', 'two', 'three', 4, 5, 'hello']

In [95]:
my_list * 2

['one', 'two', 'three', 4, 5, 'hello', 'one', 'two', 'three', 4, 5, 'hello']

In [96]:
my_list

['one', 'two', 'three', 4, 5, 'hello']

In [112]:
l = [1,2,3]

In [113]:
l.append('append')
l

[1, 2, 3, 'append']

In [114]:
l.pop()

'append'

In [109]:
l

[1, 2, 3]

In [115]:
item_popped = l.pop(0)
print(item_popped)
l

1

[2, 3]

In [122]:
new_list = ['a','e','x','b','c']
new_list

['a', 'e', 'x', 'b', 'c']

In [123]:
new_list.reverse()
new_list

['c', 'b', 'x', 'e', 'a']

In [124]:
new_list.sort()
new_list

['a', 'b', 'c', 'e', 'x']

In [125]:
lst1=[1,2,3]
lst2=[4,5,6]
lst3=[7,8,9]

In [126]:
matrix = [lst1,lst2,lst3]

In [127]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [130]:
print(matrix[0])
print(matrix[2][0])

[1, 2, 3]
7

In [135]:
first_col = [row[1] for row in matrix]
first_col

[2, 5, 8]

In [132]:
l = [1,2,3]
l.append(4)

In [133]:
l

[1, 2, 3, 4]

In [136]:
print(l.count(10))
l.count(1)

0

1

In [137]:
x = [1, 2, 3,4,8]
x.append([4, 5])
print(x)

[1, 2, 3, 4, 8, [4, 5]]

In [141]:
x = [1, 2, 3]
x.extend([4, 5])
print(x)

[1, 2, 3, 4, 5]

In [142]:
print(x)
x.index(2)

[1, 2, 3, 4, 5]

1

In [143]:
x.insert(2,'new')

In [144]:
x

[1, 2, 'new', 3, 4, 5]

In [145]:
ele = x.pop()
ele

5

In [146]:
x

[1, 2, 'new', 3, 4]

In [147]:
x.remove('new')
x

[1, 2, 3, 4]

In [149]:
x.extend([2])
x

[1, 2, 3, 4, 2]

In [150]:
x.remove(2)
x

[1, 3, 4, 2]

In [151]:
x.reverse()

In [152]:
x

[2, 4, 3, 1]

In [153]:
x.sort()
x

[1, 2, 3, 4]